
        <form action="">
            <label class="form-label">Mã Sản Phẩm</label>
            <input type="number" class="form-control" ng-model="hoadon.ma" >
            <label class="form-label">Tên Sản Phẩm</label>
            <input type="text" class="form-control" ng-model="hoadon.ten" >
            <label class="form-label">Số Lượng</label>
            <input type="number" class="form-control" ng-model="hoadon.soluong">
            <label class="form-label">Giá</label>
            <input type="number" class="form-control" ng-model="hoadon.gia" >

            <a ng-href="#!"><button type="button" ng-click="update()" >Cập Nhật</button></a>
        </form>