<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <title>Document</title>
</head>
<body ng-app="myApp">
    <br>
    <div class="container">
        <div ng-controller="1">
            <form>
                <div class="form-group">
                    <label>Họ Tên </label>
                    <input ng-model="studen.name" class="form-control">
                </div>
                <div class="form-group">
                    <label>Ngày Sinh </label>
                    <input ng-model="studen.bỉthday" class="form-control">
                </div>
                <div class="form-group">
                    <label>Điểm  </label>
                    <input ng-model="studen.mark" class="form-control">
                </div>
            </form>
        </div>
        <div ng-controller="1">
            
        </div>
    </div>
</body>